body {
	font-family: Lato;
	margin:0;
	font-size: 14px;
}

div.header {
	width: 100%;
	background-color: #2c3e50;
	color: white;
	text-align: center;
	margin: 0 auto;
}

.text-block{
	padding: 30px 0;
}

.sup {
	font-size: .7em;
    line-height: .8em;
    vertical-align: super;
}

div.header a {
	color:white;
	text-decoration: none;
}

div.header .title {
	font-size: 72px;
	display: block;
}

div.header .subtitle {
	font-size: 22px;
}

div.header .title .bold {
	font-weight: 300;
}

div.header span {
	font-weight: 100;
}

.body {
	color: black;
	padding-top: 10px;
	width: 92%;
	padding: 0 4%;
}

.page1 > .side, .page1 > .content {
	height: 730px;
}

.page2 > .side, .page2 > .content {
	height: 849px;
}

.page2 {
	padding-top: 50px;
}

.page > .side {
	width: 23%;
	display: block;
	float:left;
	margin-right: 2%;
}

.side .node {
	text-align: right;
	font-weight: 300;
	display: block;
	padding-bottom: 10px;
}

.page > .content {
	width: 75%;
	display: block;
	float: left;
}

a {
	color:#2c3e50;
}

.side .node .title {
	font-weight: 700;
	font-size:16px;
	display: block;
	margin-top: 10px;
}

.side .node a {
	display: block;
}

.content > div > span.title{
	display: block;
	font-weight: 700;
	margin: 5px 0;
	font-size: 20px;
	color: #2c3e50;
}

.content div {
	display: block;
	font-weight: 300;
}

.content div .list .item .header{
	display: block;
	margin-top: 5px;
	margin-bottom: 2px;
	background-color: white;
	text-align:left;
}

.content div .list .item .header span.title{
	display: inline-block;
	font-weight: 300;
	font-size: 15px;
	width: 70%;
}

.content div .list .item .header span.title .bold{
	font-weight: 400;
}

.content div .list .item .header span.date{
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	text-align: right;
	width: 30%;
}

.list .item{
	padding-bottom: 10px;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
	font-style:italic;
}

.footer{
	padding-top: 20px;
}

.footer div{
	width: 21%;
	display: inline-block;
	text-align: center;
	margin:0 5%;
}

.content .content{
	font-style: italic;
}

.page > .content div span.content, .page > .content div span.list {
	line-height: 150%;
}

.footer div:first-child{
	text-align: left;
}

.footer div:last-child{
	text-align: right;
}

.icon {
	width: 16px;
	position: relative;
    top: 3px;
    margin-left: 4px;
    border-radius: 5px;
}

.lang-dropdown{
		display: block;
		margin-top: 20px;
	}

@media print {
    .lang-dropdown{
		display: none;
	}
}