/* Empty. Add your own CSS if you like */
.google-map {
    width: 100%;
    height: 350px;
}

.scroll {
  height: 100%;
}

.add-cart{
  margin-right: 20px;
}

.badge-cart{
  margin-top:25px;
}

.search-box{
    width:100%;
}
.mini-grocery-logo{
    width:32px;
    height:32px;
}

.platform-android .search-box{
  top: 46px;
  position: absolute;
}

.platform-android .searchable .has-tabs-top{
    padding-top: 40px;
}

.product-image{
    text-align:center;
}

.product-image img.full-image{
    max-width:100%;
    max-height:200px;
    width:auto;
    height:auto;
}

.button a {
    color: white;
}