<ion-view>
  <ion-nav-title>Itinéraire</ion-nav-title>
  <ion-content>
      <ion-list>
        <ion-item ng-repeat="store in validStores" type="item-text-wrap" data-ng-init="init()">
            {{store.name}} à {{store.distance}} en {{store.time}}
        </ion-item>
        <ion-item class="item-body">
            <div id="map" class="google-map" data-tap-disabled="true"></div>
        </ion-item>

        <div class="list card">

          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-android-car"></i>
            Voiture ({{carDistance}} en {{carTime}})
          </a>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-android-walk"></i>
            Marche ({{walkDistance}} en {{walkTime}})
          </a>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-android-bicycle"></i>
            Bicycle ({{bicycleDistance}} en {{bicycleTime}})
          </a>
        </div>
        <!--<ion-item class="item">-->
          <!--<i class="icon ion-android-walk"></i>-->
        <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
