<ion-view view-title="Sucursales">
  <ion-content>
      
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right" collection-repeat="store in stores" type="item-text-wrap" href="#/tab/store/{{store.guid}}"
      item-height="106px" item-width="100%">
        <img ng-src="{{util.getLogo(store.banner_code)}}">
        <h2>{{store.name}}</h2>
        <p> {{store.address}}{{store.address ? ',' : ''}} {{store.city}}</p>
        <p><i class="icon-left ion-location"></i> {{store.distance}} km</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>