<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <ion-tab title="Articles" icon-off="ion-ios-nutrition-outline" icon-on="ion-ios-nutrition" href="#/tab/item">
    <ion-nav-view name="tab-item"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Catégories" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/category">
    <ion-nav-view name="tab-category"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sucursales" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/store">
    <ion-nav-view name="tab-store"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Panier" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" badge="cartBadge" badge-style="badge-assertive" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>

</ion-tabs>
