<ion-modal-view>
  <ion-header-bar class="bar-coveo">
    <h1 class="title title-white">Create a source</h1>
    <div class="buttons">
      <button class="button button-clear close-button" ng-click="closeNewSource()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="closeNewSource()">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Source type
          </div>
          <select>
            <option>CUSTOM</option>
            <option>DATABASE</option>
            <option>DROPBOX</option>
            <option>GMAIL</option>
            <option>GOOGLE DRIVE</option>
            <option>LITHIUM</option>
            <option>SALESFORCE</option>
            <option>SITECORE</option>
            <option>WEB</option>
            <option>YOUTUBE</option>
        </select>
      </label>
        <label class="item item-input">
          <span class="input-label">Source name</span>
          <input type="text" style="text-align:right;" ng-model="sourceData.sourceName">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Source visibility
          </div>
          <select>
            <option>PRIVATE</option>
            <option>SECURED</option>
            <option>SHARED</option>
        </select>
      </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
