<ion-modal-view>
  <ion-header-bar class="bar-coveo">
    <h1 class="title title-white">Invite a user</h1>
    <div class="buttons">
      <button class="button button-clear close-button" ng-click="closeNewUser()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="closeNewUser()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" style="text-align:right;">
        </label>
       <ion-toggle ng-model="sendInvite" toggle-class="toggle-balanced">Send email invite</ion-toggle>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Invite</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
