<ion-view view-title="Users">
<ion-nav-buttons side="primary">
      <button class="button icon ion-plus custom-icon" style="background:#f57f03;" ng-click="openNewUser()">
      </button>
    </ion-nav-buttons>
  <ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left" ng-repeat="user in users" type="item-text-wrap">
		<i class="icon ion-person"></i>
          <h2>Email : {{user.userEmail}}</h2> 
          <p style="display:inline;"> Role : {{user.workgroupRoles[0]}}</p>
          <i class="icon-left {{source.visibilityIcon}}"></i>
          
          <ion-option-button class="button-assertive" ng-click="remove(source)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
