<ion-modal-view view-title="Current organization">
<ion-header-bar class="bar-coveo">
    <h1 class="title title-white">Choose an organization</h1>
    <div class="buttons">
      <button class="button button-clear close-button" ng-click="closeWorkgroupModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list class="list">
      <ion-item class="item" ng-repeat="workgroup in workgroups" type="item-text-wrap">
        <ion-radio ng-value="{{workgroup.id}}" ng-click="setCurrentWorkgroup('{{workgroup.id}}')">{{workgroup.displayName}}</ion-radio>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
