<ion-view view-title="Sources">
<ion-nav-buttons side="primary">
      <button class="button icon ion-plus custom-icon" style="background:#f57f03;" ng-click="openNewSource()">
      </button>
    </ion-nav-buttons>
  <ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="source in sources" type="item-text-wrap" href="#/tab/sources/{{source.id}}">
          <div class="row">
            <div class="col"><i class="icon {{source.sourceIcon}}"></i>
          <h2>{{source.sourceType}}</h2> 
          <p style="display:inline;">{{source.sourceVisibility}}</p>
          <i class="icon-left {{source.visibilityIcon}}"></i>
            </div>
            <div class="col">
              <h2>{{source.name}}</h2>
              {{source.information.numberOfDocuments}} documents
            </div>
          </div>
          
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-assertive" ng-click="remove(source)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
