<ion-view view-title="Nodes">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="node in nodes" type="item-text-wrap" href="#/tab/nodes/{{node.id}}">
        <img ng-src="{{node.face}}">
        <h2>{{node.name}}</h2>
        <p>{{node.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(node)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
