<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Search Tab -->
 <ion-tab title="Search" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/results">
    <ion-nav-view name="tab-results"></ion-nav-view>
  </ion-tab>
  
  <!-- Sources Tab -->
  <ion-tab title="Sources" icon-off="ion-folder" icon-on="ion-folder" href="#/tab/sources">
    <ion-nav-view name="tab-sources"></ion-nav-view>
  </ion-tab>

  <!-- Servers Tab -->
  <ion-tab title="Servers" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/servers">
    <ion-nav-view name="tab-servers"></ion-nav-view>
  </ion-tab>
  
  <!-- Users Tab -->
  <ion-tab title="Users" icon-off="ion-person" icon-on="ion-person" href="#/tab/users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>